# Server
PORT=5001

# MongoDB
MONGO_URI=mongodb://localhost:27017
MONGO_DB=GuildLoggerDB

# CORS
CORS_ORIGINS=http://localhost:5173

# Discord Bot
DISCORD_BOT_TOKEN=
DISCORD_PUBLIC_KEY=

# Discord OAuth2
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=http://localhost:5173/auth
DISCORD_AUTH_BASE_URL=https://discord.com/api/oauth2
DISCORD_API_BASE_URL=https://discord.com/api/v10
DISCORD_OAUTH_SCOPES=identify guilds

# App
SECRET_KEY=
APP_URL=http://127.0.0.1:5173

# Ngrok Tunnel
NGROK_DOMAIN=