# Server
PORT=''

# MongoDB TODO: not remotely hosted for now, but should be in production
MONGO_URI=''
MONGO_DB=''

# CORS
CORS_ORIGINS=''

# Discord Bot
DISCORD_BOT_TOKEN=''

# Discord OAuth2
DISCORD_CLIENT_ID=''
DISCORD_CLIENT_SECRET=''
DISCORD_REDIRECT_URI=''

# App
SECRET_KEY=''